@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.docs-main{
  text-align: center;
}
.add-docs{
  height: 40px;
  width: 200px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.add-input{
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #676767;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
.button-container{
  text-align: center;
  margin: 30px;
}
.grid-main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: whitesmoke;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}

.grid-child{
  padding: 20px;
  background-color: rgb(98, 98, 98);
  width: 300px;
  cursor: pointer;
}
.editDocs-main {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editDocs-inner {
  width: 800px;
  box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  padding: 20px;
  height: 750px;
}

.ql-container.ql-snow {
  border: none !important;
}
.docs-main {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
}

.add-btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.add-docs {
  height: 40px;
  width: 200px;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.add-input{
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #676767 ;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;

}
.button-container{
  text-align: center;
  margin: 30px;
}
.button-add-icon{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: whitesmoke;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}

.grid-child{
  padding: 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 300px;
  cursor: pointer;
}

.editDocs-main {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headingIcons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal{
  width: auto;
}